<!-- HEADER -->
<section class="header shadow">
  <nav class="navbar navbar-expand-lg py-3" aria-label="Twelfth navbar example">
    <div class="container-fluid justify-content-center">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample10"
        aria-controls="navbarsExample10"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i
          class="fa-solid fa-bars fa-2xl my-2 py-2 mx-auto"
          style="color: #afeb8f"
        ></i>
      </button>

      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="navbarsExample10"
      >
        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small gap-md-3"
        >
          <li>
            <a href="/" class="nav-link <%= (title=="About Me")?'active':'' %> text-white text-center">
              <i
                class="fa-solid fa-user-secret <%= (title=="About Me")?'fa-flip':'' %> fa-lg d-block mx-auto my-2"
                <% if (title=="About Me") { %>
                  style="color: #002F7B"
                <% } else { %>
                  style="color: #afeb8f"
                <% } %>
              ></i>
              About Me
            </a>
          </li>
          <li>
            <a href="/projects" class="nav-link text-white text-center <%= (title=="Projects")?'active':'' %>">
              <i
                class="fa-solid fa-cubes fa-lg d-block mx-auto my-2 <%= (title=="Projects")?'fa-flip':'' %>"
                <% if (title=="Projects") { %>
                  style="color: #002F7B"
                <% } else { %>
                  style="color: #afeb8f"
                <% } %>
              ></i>
              Projects
            </a>
          </li>
          <li>
            <a href="/works" class="nav-link text-white text-center <%= (title=="Works")?'active':'' %>">
              <i
                class="fa-solid fa-briefcase fa-lg d-block mx-auto my-2 <%= (title=="Works")?'fa-flip':'' %>"
                <% if (title=="Works") { %>
                  style="color: #002F7B"
                <% } else { %>
                  style="color: #afeb8f"
                <% } %>
              ></i>
              Works
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white text-center">
              <i
                class="fa-solid fa-graduation-cap fa-lg d-block mx-auto my-2"
                style="color: #afeb8f"
              ></i>
              Educations
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white text-center">
              <i
                class="fa-solid fa-newspaper fa-lg d-block mx-auto my-2"
                style="color: #afeb8f"
              ></i>
              Certifications
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white text-center">
              <i
                class="fa-solid fa-book-open fa-lg d-block mx-auto my-2"
                style="color: #afeb8f"
              ></i>
              Publications
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white text-center">
              <i
                class="fa-solid fa-people-group fa-lg d-block mx-auto my-2"
                style="color: #afeb8f"
              ></i>
              Community
            </a>
          </li>
          <li>
            <a href="/" class="nav-link text-white text-center">
              <i
                class="fa-solid fa-circle-nodes fa-lg d-block mx-auto my-2"
                style="color: #afeb8f"
              ></i>
              Technical Skills
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
